@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Pacifico&family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import "./utilities/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    background-color: rgb(49, 3, 63);
}
@import "./layout/header";
@import "./layout/nav";
@import "./layout/main";
@import "./layout/video";
@import "./layout/footer";
@import "./layout/usercard";
@import "./layout/base";
@import "./layout/formulario"