@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Pacifico&family=Roboto+Condensed:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: auto;
  width: auto;
  background-color: #63005e;
  color: black;
}

body .container {
  min-height: 80px;
  height: 10vh;
  font-family: "Roboto Condensed", sans-serif;
}

body .casas {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .footer93 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .video1 {
  margin: 2px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

body h1 {
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}

body h2 {
  color: black;
  font-size: 25px;
}

body .venta {
  border-style: none;
  padding: 15px;
}

body .formulario {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

body .menunavbar {
  position: inherit;
  font-family: "Pacifico", cursive;
}

@media only screen and (min-width: 700px) and (max-width: 1400px) {
  body .card-content {
    overflow: hidden;
    max-height: 0;
  }
  body .cardd:hover > .card-content {
    max-height: 300px;
    -webkit-transition: max-height 0.6s linear;
    transition: max-height 0.6s linear;
  }
  body .boton:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .underline {
    color: var(--blue-dark);
    display: inline-block;
    position: relative;
  }
  body .underline:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    -webkit-transform: scalex(0);
            transform: scalex(0);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  }
  body .underline:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}
/*# sourceMappingURL=style.css.map */