@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}    
body{   
    height: auto;
    width: auto;
    background-image: linear-gradient(to right bottom, #340544, #340748, #330a4d, #320c51, #310f56, #321358, #34175b, #351a5d, #391f5e, #3d245e, #41285f, #452d60);    font-family: 'Kanit', sans-serif;
    color: rgb(12, 11, 11);
}

.container{
    min-height: 80px;
    height: 10vh;
}

.casas{

    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer93{
    display: flex;
    justify-content: center;
}

.video1{
    margin: 2px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.venta {
    border-style: none;
    padding: 15px;
}
.formulario{
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.colorfor{
    color: white;
}
.menunavbar{
    position: inherit;
}
