@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}    
@media only screen and (min-width: 1200px) {

body{   
    background-color: hwb(270 29% 70%);
    font-family: 'Kanit', sans-serif;
    color: rgb(12, 11, 11);
}
.nav {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}
.nav .logo {
    display: grid;
    width: 200px;
    height: 60px;
    grid-column: 1/2;
}
.nav .menu {
    grid-column: 3/7;
    display: flex;
    justify-content: space-around;
}
.nav .menu li {
    list-style: none;
}
.nav .menu a {
    text-decoration: none;
    color: #181818;
    cursor: pointer;
}
.nav .menu-bar {
    display: none;
}
.video1{
    margin: 2px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
h2{
    color: rgb(236, 249, 255);
    text-align: center;
    font-size: 50px;
}
.venta {
    border-style: none;
    padding: 15px;
}

.formulario{
    border-style: none;
    padding: 2px;
}
.form1{
    margin: 2px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.casas-catalogo {
    height: auto;
    width: 100%;
    background-color: #181818;
    color: aliceblue;
    text-shadow: 0 0 7px black;
    padding: 20px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.img{
    border: 2px solid white;
    height: 100vh;
    width: 100%;
}
.img1{
    background-image: url(/img/casaenventa1.jpg);
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url(/img/casaenventa2.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    background-image: url(/img/casaenventa3.jpg);
    background-size: cover;
    background-position: center;
}
.img4{
    background-image: url(/img/casaenventa4.jpg);
    background-size: cover;
    background-position: center;
}
.casas-catalogo .venta .casa1 .icasa .imgv{
    display: block;
    grid-column: 2/3;
}
.pie{
    display: grid;
    background-color: red;
    grid-template-columns: repeat(5, 1fr);
}
.pie .pie-icono{
    grid-column: 2/3;
}

}
/* Aqui empieza el media querie mobile*/
@media only screen and (max-width: 479px) {
body{   
        background-color: hwb(270 29% 70%);
        font-family: 'Kanit', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        text-align: center;
    }    
.video1{
        margin: 2px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
.nav {
        background-color: red;
        position: relative;}
.nav .menu-bar {
    display: block;
    background-color: red;
    grid-column: 7/7;
}
.nav .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color: orange;
    margin-top: 38em;
    transform: translateX(170%);
}
.casas-catalogo {
    height: auto;
    width: 100%;
    background-color: #181818;
    color: aliceblue;
    text-shadow: 0 0 7px black;
    padding: 20px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.img{
    border: 2px solid white;
    height: 100vh;
    width: 100%;
}
.img1{
    background-image: url(/img/casaenventa1.jpg);
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url(/img/casaenventa2.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    background-image: url(/img/casaenventa3.jpg);
    background-size: cover;
    background-position: center;
}
.img4{
    background-image: url(/img/casaenventa4.jpg);
    background-size: cover;
    background-position: center;
}
.pie{
    display: grid;
    background-color: red;
    grid-template-columns: repeat(5, 1fr);
}
.pie .pie-icono{
    grid-column: 2/3;
}
}

/*Aqui empieza el media querie 480-599*/
@media only screen and (min-width: 480px) and (max-width: 599px) {
    body{   
        background-color: hwb(270 29% 70%);
        font-family: 'Kanit', sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .video1{
        margin: 2px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 400px;
    }
    .nav {
        background-color: red;
        position: relative;
    }
    
    .nav .menu-bar {
        display: block;
        grid-column: 6/7;
        font-size: 2em;
        cursor: pointer;
    }
    .nav .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: orange;
        margin-top: 38em;
        transform: translateX(170%);
    }
    .casas-catalogo {
        height: auto;
        width: 100%;
        background-color: #181818;
        color: aliceblue;
        text-shadow: 0 0 7px black;
        padding: 20px;
        font-size: 80px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    .img{
        border: 2px solid white;
        height: 100vh;
        width: 100%;
    }
    .img1{
        background-image: url(/img/casaenventa1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2{
        background-image: url(/img/casaenventa2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3{
        background-image: url(/img/casaenventa3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4{
        background-image: url(/img/casaenventa4.jpg);
        background-size: cover;
        background-position: center;
    }
    .pie{
        display: grid;
        background-color: red;
        grid-template-columns: repeat(5, 1fr);
    }
    .pie .pie-icono{
        grid-column: 2/3;
    }    
}
.video1{
    margin: 2px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}

/*Aqui empieza el media querie 600*/
@media only screen and (min-width: 600px) and (max-width: 1199px){
body{   
        background-color: hwb(270 29% 70%);
        font-family: 'Kanit', sans-serif;
        color: rgb(253, 253, 253);
    text-align: center;
}
    .video1{
        margin: 2px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 400px;
    }
.nav {
    background-color: red;
    position: relative;
}

.nav .menu-bar {
    display: block;
    grid-column: 5/6;
    font-size: 2em;
    cursor: pointer;
}
.nav .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color: rgb(71, 62, 45);
    margin-top: 38em;
    transform: translateX(170%);
}
.casas-catalogo {
    height: auto;
    width: 100%;
    background-color: #181818;
    color: aliceblue;
    text-shadow: 0 0 7px black;
    padding: 20px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.img{
    border: 2px solid white;
    height: 100vh;
    width: 100%;
}
.img1{
    background-image: url(/img/casaenventa1.jpg);
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url(/img/casaenventa2.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    background-image: url(/img/casaenventa3.jpg);
    background-size: cover;
    background-position: center;
}
.img4{
    background-image: url(/img/casaenventa4.jpg);
    background-size: cover;
    background-position: center;
}
.pie{
    display: grid;
    background-color: red;
    grid-template-columns: repeat(5, 1fr);
}
.pie .pie-icono{
    grid-column: 2/3;
}
}