$color1: black;
$color2: rgb(255, 255, 255);
$color3: rgb(255, 0, 0);
$color4: rgb(0, 216, 0);
$color5: rgb(0, 26, 255);
$color6: rgb(99, 0, 94);

$font1: 'Heebo', sans-serif;
$font2: 'Pacifico', cursive;
$font3: 'Roboto Condensed', sans-serif;

$palette:(
    'primary': rgb(26, 11, 107),
    'secundary': rgb(12, 204, 70),
    'success' : rgb(40, 192, 40),
    'danger': rgb(231, 47, 56),
    'dark': #000,
    'blue': rgb(21, 8, 212),
    'orange': rgb(255, 111, 0),
);